name: Akeyless GCP (self-hosted)

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      access-id:
        description: 'The Akeyless GCP auth method Access ID'
        required: true
        type: string

jobs:
  akeyless-secrets:
    runs-on: [self-hosted]
    env:
      RUNNER_DEBUG: '1'
    steps:
      - name: Retrieve Akeyless Secret (GCP auth)
        id: akeyless
        uses: akeyless-community/akeyless-github-action@43ecc17479747f00b3590e167f6b17cc3e9534e5
        with:
          api-url: https://kgal-azure.dev/api/v2
          ca-certificate: ${{ secrets.KGAL_AZURE_DEV_CA_CERT_PEM }}
          access-id: ${{ inputs.access-id || secrets.GCP_AKEYLESS_ACCESS_ID }}
          access-type: gcp
          gcp-audience: "akeyless.io"
          static-secrets: |
            - name: "/path/to/test1"
              output-name: "MY_SECRET"

      - name: Use secret
        run: |
          echo "Secret (masked) is set: ${{ steps.akeyless.outputs.MY_SECRET }}"